#h1_expim {
	margin-bottom: 25px;
}

.expim {
	margin-top: 50px;
}

.data, .import {
	width: 40%;
}

#show_data {
	width: 100%;
	overflow: auto;
}

tbody tr:nth-of-type(2n) {
	background-color: white;
}

#export {
	float: right;
}